/*style.css*/
html {
  position: relative;
  height:100%;
}
body {
  /* Margin bottom by footer height */
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0px;
  height:100%;
}
.modal-title,
#logo{
  font-family: 'Megrim', cursive;
  font-size: 35px;
  color: #ffcc00;
}
.navbar-header img{
  width: 45px;
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
#navLabels  {
    text-transform: uppercase;
    letter-spacing: .15em;
    font-size: 16px;
    padding-top: 6px;
    padding-bottom: 0px;
}
.handle{
  font-weight: 400;
  letter-spacing: .1em;
}
.me{
  color:#cc0000;
  
}
.someoneElse{
  color:#6600cc;
}
.special{
  height:100%;
  }
.special .jumbotron {
  height:100%;
  overflow-y:scroll;
  background-color: #fff0b3;
      padding-bottom: 70px;
    padding-top: 70px;
    margin-bottom: 0px;
  
}
.noPadding{
  padding:0px;
}
#messages { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
}
#messages li { 
  padding: 5px 10px; 
}

#chatInput{
  margin-top:12px;
}
#chatBtn{
  background-color: #ffcc00;
  text-transform: uppercase;
  letter-spacing: .1em;
}
.modal-header{
  background-color: black;
  border-radius: 5px 5px 0px 0px;
  border: 1px solid #ffcc00;

}
.modal-header .close {
    color: #ffcc00;
    opacity: .9;
}
.footer {
  position:absolute;
  bottom: 0;  
  /* Set the fixed height of the footer here */
  height: 60px; 
  background-color: black;
  border-bottom: none;
}
.about img{width:200px;}
.about #logo{font-size:60px;}
.about{
  width:80%;
  margin:auto;
  display:block;
  margin-top:70px;
  text-align:center;
}